body {
    text-align: center;
}
.rating {
	overflow: hidden;
    display: inline-block;
}
.rating-input {
	position: absolute;
	top: -50px;
	}
.rating-star {
	display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.rating-star:hover, .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
	background-position: 0 0;
}
.input-center {
    display: block;
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  }
.ratePopup {
height: 33%;
}

