<input class="pac-input controls position" places-auto-complete size=80
       ng-model="vm.address"
       component-restrictions="{country:'est'}"
       types="{{types}}"
       on-place-changed="vm.placeChanged()" />

<div class="" id="nav-icon3" ng-click="ToggleMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<ng-map  zoom="18" center="[59.395896, 24.671332]" default-style="false" class="height100">
    <info-window id="myInfoWindow" >
        <div ng-non-bindable>
            <h3>{{selectedLocation.address}}</h3>
            <h4>{{selectedLocation.rating}}</h4>
            <h4>Priced: {{selectedLocation.free}}</h4>
        </div>


        </div>
    </info-window>
    <marker position="current" shape="circle" coords="0,0,10" animation="Animation.BOUNCE" centered="true" color="green"></marker>
    <span ng-repeat="bathroom in allBathrooms"><marker icon="{url:'../images/toilet-icon.png',scaledSize:[50,50]}" position="[{{bathroom.latitude}}, {{bathroom.longitude}}]"
                                                       title="{{bathroom.adder}}" on-click="showToiletInfo(event, bathroom)">
    </marker>
    </span>
    <div class="addLocationBtn" ng-click="getNearestLocation()"><img src="images/searchToilet.png" class="img-circle"></div>
</ng-map>

    <div class="circle" ng-class="{'expand':menuVisible}"></div>
    <div class="menu" ng-class="{'animate':menuVisible}">
        <ul>
            <li ng-class="{'animate':menuVisible}" ng-if="!userAuthenticated" ng-click="signIn()"><a href="">Sign in</a></li>
            <li ng-class="{'animate':menuVisible}" ng-if="userAuthenticated" ng-click="logout()"><a href="">Sign out</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Account</a></li>
            <li ng-class="{'animate':menuVisible}" ng-click="switchToAddLocation()"><a href="">Add new location</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Settings</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Activity</a></li>
        </ul>
    </div>



