<input class="pac-input controls position" places-auto-complete size=80
       ng-model="vm.address"
       component-restrictions="{country:'est'}"
       types="{{types}}"
       on-place-changed="vm.placeChanged()" />

<div class="" id="nav-icon3" ng-click="ToggleMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<ng-map  zoom="18" center="[59.395896, 24.671332]" default-style="false" class="height100">
    <marker position="current" shape="circle" coords="0,0,10" animation="Animation.BOUNCE" centered="true" color="green"></marker>
    <span ng-repeat="bathroom in allBathrooms"><marker position="[{{bathroom.latitude}}, {{bathroom.longitude}}]"></marker></span>

</ng-map>

    <div class="circle" ng-class="{'expand':menuVisible}"></div>
    <div class="menu" ng-class="{'animate':menuVisible}">
        <ul>
            <li ng-class="{'animate':menuVisible}"><a ng-show="$root.authenticated" ng-click="logout()">Sign out</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Account</a></li>
            <li ng-class="{'animate':menuVisible}" ng-click="switchToAddLocation()"><a href="">Add new location</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Settings</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Activity</a></li>
            <li ng-class="{'animate':menuVisible}"><a href="">Contact</a></li>
        </ul>
    </div>



